.contact__cart__bg{
    border-radius: 10px;
    background: linear-gradient(180deg, #343636 0%, #901C00 71%);
}

.input_bg{
    border-radius: 8px;
    background: #FFF;
}
.contact__us__bg{
    background-image: url("/assets/primeBasementHomePage/contact__us__bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}